@import "tailwindcss";
@import "./colors.css";

:root {
  --font-body: "Fredoka", system-ui, sans-serif;
  --font-display: "Fredoka", system-ui, sans-serif;
  --font-headline: "BP", system-ui, sans-serif;

  --screen-padX: 1.5rem;
  --screen-padX-sm: 2.5rem;
  --screen-padX-md: 3.2rem;
  --screen-padX-lg: 5rem;
  --screen-padX-xl: 6rem;

  --header-text: 1.5rem;
  --header-text-lg: 1.8rem;
}

/* Font Face Declarations */
@font-face {
  font-family: "BP";
  src: url("../assets/fonts/bp-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BP";
  src: url("../assets/fonts/bp-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Base Styles */
body {
  background-color: var(--color-brown-980);
  color: var(--color-charcoal);
  font-family: var(--font-body);
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--screen-padX);
  padding-top: 1rem;

  @media (min-width: 640px) {
    padding: 0 var(--screen-padX-sm);
  }
  @media (min-width: 768px) {
    padding: 0 var(--screen-padX-md);
  }
  @media (min-width: 1024px) {
    padding: 0 var(--screen-padX-lg);
  }
  @media (min-width: 1280px) {
    padding: 0 var(--screen-padX-xl);
  }
}

/* Site Header */
.site-header {
  background: var(--color-brown-800);
  border-bottom: 8px solid var(--color-brown-900);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;

  & .header-container {
    display: flex;
    margin: 0 auto;
    padding: 0 var(--screen-padX);
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
    max-width: 1600px;
    align-items: flex-end;
    justify-content: space-between;

    @media (min-width: 640px) {
      padding: 0 var(--screen-padX-sm);
      padding-top: 1rem;
      padding-bottom: 0.5rem;
    }
    @media (min-width: 768px) {
      padding: 0 var(--screen-padX-md);
      padding-top: 3rem;
      padding-bottom: 0.5rem;
    }
    @media (min-width: 1024px) {
      padding: 0 var(--screen-padX-lg);
      padding-top: 3rem;
      padding-bottom: 0.5rem;
    }
    @media (min-width: 1280px) {
      padding: 0 var(--screen-padX-xl);
      padding-top: 3rem;
      padding-bottom: 0.8rem;
    }
  }

  & .title-section {
    display: flex;
    align-items: flex-end;
    gap: 0px;

    @media (min-width: 640px) {
      /* padding: 0 var(--screen-padX-sm); */
    }
    @media (min-width: 768px) {
      gap: 1rem;
    }
    @media (min-width: 1024px) {
      /* padding: 0 var(--screen-padX-lg); */
    }
    @media (min-width: 1280px) {
      /* padding: 0 var(--screen-padX-xl); */
    }

    & h1 {
      font-family: "BP";
      font-size: 2.2rem;
      font-weight: 300;
      color: var(--color-yellow-500);
      line-height: 0.9;
      text-shadow: 3px 3px var(--color-brown-990);
      transform: translateY(3px);
      width: 6.25rem;
      /* border: 1px solid white; */

      @media (min-width: 640px) {
        width: 7rem;
        font-size: 2.5rem;
      }
      @media (min-width: 768px) {
        width: initial;
        font-size: 2.8rem;
      }
      @media (min-width: 1024px) {
        font-weight: 450;
        font-size: 3.5rem;
      }
      @media (min-width: 1280px) {
        font-weight: 450;
        font-size: 3.5rem;
      }
    }

    & .subtitle {
      font-family: var(--font-body);
      font-weight: 400;
      font-size: 1.3rem;
      color: var(--color-white);
      line-height: 1;
      margin: 0;
      padding: 0 1rem;
      text-shadow: 2px 2px var(--color-brown-990);
      text-align: center;
      text-wrap: balance;
      /* border: 1px solid white; */

      @media (min-width: 500px) {
        padding: 0 3rem;
        font-size: var(--header-text);
      }
      @media (min-width: 640px) {
        padding: 0;
      }
      @media (min-width: 1024px) {
        font-size: var(--header-text-lg);
        font-weight: 350;
      }
    }
  }

  & nav {
    display: flex;
    justify-content: flex-end;
    width: fit-content;

    & a {
      font-size: var(--header-text);
      font-weight: 400;
      color: var(--color-gray-300);
      transition: color 200ms ease;
      line-height: 1;
      text-shadow: 2px 2px var(--color-brown-990);

      @media (min-width: 1024px) {
        font-size: var(--header-text-lg);
      }

      &:hover {
        color: var(--color-earth);
      }
    }
  }
}

/* Main Content */
.main-content {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 28%;
    grid-template-areas:
      "video nav"
      "content nav";
  }
}

.video-container {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
  border: 1px solid white;

  @media (min-width: 1024px) {
    grid-area: video;
  }
}

.mobile-menu-button {
  display: block;
  position: absolute;
  top: 1.7rem;
  right: -0.625rem;
  background: var(--color-brown-800);
  border: 2px solid var(--color-earth);
  border-radius: 10px;
  cursor: pointer;
  padding: 0.3rem 0.7rem;
  margin-left: auto;
  color: var(--color-white);
  transition: color 200ms ease;
  font-size: 1.3rem;
  /* transform: translateX(10px); */
  z-index: 800;

  &:hover {
    color: var(--color-yellow-500);
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  @media (min-width: 1024px) {
    display: none;
  }

  &.active {
    display: block;
  }
}

.mobile-menu-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background: var(--color-red-900);
  border-radius: 20px;
  border: 7px solid var(--color-earth);
  box-shadow: inset 3px 3px 5px var(--color-brown-950),
    inset -3px -3px 5px var(--color-brown-950);
  padding: 1rem;
  position: relative;
  z-index: 1001;

  @media (min-width: 640px) {
    width: 450px;
  }
}

.mobile-menu-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30px, -30px);
  background: var(--color-landscape);
  box-shadow: inset 2px 2px 3px var(--color-emerald-950),
    inset -2px -2px 3px var(--color-emerald-950),
    0 0 0 2px var(--color-brown-950);
  border: 5px solid var(--color-earth);
  border-radius: 100%;
  padding: 12px;
  cursor: pointer;
  z-index: 1001;
}

.mobile-menu ul {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  & li {
    color: var(--color-white);
    font-size: 1.4rem;
    padding: 0.5rem 0;
    cursor: pointer;
    transition: color 200ms ease;
    text-shadow: 2px 2px var(--color-brown-990);
    position: relative;

    @media (min-width: 640px) {
      font-size: 1.7rem;
      padding: 0.6rem 0;
    }

    &:hover {
      color: var(--color-yellow-500);
    }

    &.active {
      &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--color-earth);
        border-radius: 2px;
        box-shadow: 2px 2px 2px var(--color-brown-950);
      }
    }
  }
}

/* Custom Component Styles */
.content-carousel {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: relative;
  min-height: 200px;
  padding-bottom: 4rem;

  @media (min-width: 1024px) {
    grid-area: content;
  }

  &.loaded {
    opacity: 1;
  }
}

/* Higher specificity for sections */
.content-carousel > section {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-offwhite);
  padding-top: 2rem;
}

/* Higher specificity for active state */
.content-carousel > section[id].active {
  opacity: 1;
}

.content-carousel h2 {
  font-family: var(--font-headline);
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-yellow-500);
  text-wrap: balance;
  padding-right: 6rem;
  line-height: 1.1;

  @media (min-width: 1024px) {
    padding-right: 0;
  }
}

.content-carousel p {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 0.5rem;
  text-wrap: balance;
}

/* Navigation Styles */
.navigation {
  position: fixed;
  top: auto;
  right: 1rem;
  bottom: 1rem;
  width: auto;
  max-width: 400px;
  height: fit-content;
  z-index: 700;

  @media (min-width: 1024px) {
    position: fixed;
    top: 6rem;
    right: max(2rem, calc((100vw - 1600px) / 2 + 2rem));
    bottom: auto;
    width: 28%;
  }
}

.nav-content {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 0.5rem;
  min-width: 200px;
  background: var(--color-red-950);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 2px 2px 5px var(--color-red-800),
    inset -2px -2px 5px var(--color-red-970);

  @media (min-width: 1024px) {
    display: block;
    position: static;
    bottom: auto;
    margin-bottom: 0;
  }

  &.active {
    display: block;
  }
}

.nav-content ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-content li {
  margin-bottom: 0.5rem;
  transition: all 200ms ease;
}

.nav-item {
  background: var(--color-red-950);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  display: block;

  & a {
    color: var(--color-offwhite);
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.2;
    display: block;
  }

  &:hover {
    background: var(--color-red-850);
    box-shadow: 3px 3px 5px var(--color-brown-900),
      inset 2px 2px 5px var(--color-red-500);
  }

  &.active {
    background: var(--color-yellow-600);
    color: var(--color-charcoal);
    box-shadow: 3px 3px 5px var(--color-brown-900),
      inset 2px 2px 5px var(--color-amber-300);
  }

  &.active:hover {
    box-shadow: 3px 3px 5px var(--color-brown-900),
      inset 2px 2px 5px var(--color-amber-300);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Custom styles can go here */
